.vs/
tools/
dist/
[Bb]in/
[Oo]bj/
build/

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

src/Sejil.Server/Sejil/index.html

# Build output
.nupkg/
.coverage/
lcov.info

ignore/
*.user
