.log {
    width: 100%;
    clear: both;
    font-size: 12px;
}

.log.expanded {
    background-color: #e5f5ff;
    margin-left: -4px;
    padding: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-bottom: 5px;
    padding-top: 2px;
    margin-bottom: 2px;
    overflow-wrap: break-word;
}

.log.expanded.level-error,
.log.expanded.level-critical,
.log.expanded.level-fatal {
    background-color: #fff1f0;
}

.log.expanded.level-warning {
    background-color: #fff3e2;
}

.log.expanded.level-information {
    background-color: #e5f5ff;
}

.log.expanded.level-trace,
.log.expanded.level-debug {
    background-color: #f7f7f7;
}

.log-entry {
    cursor: pointer;
}

.log .timestamp {
    float: left;
    width: 165px;
    color: #222;
    padding-left: 5px;
    font-size: 12px;
    font-weight: 400;
    height: 18px;
    margin-bottom: 2px;
}

.log .message {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.log .level {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 4.5px;
    margin-right: 5px;
    background-color: white;
}

.log .level.level-error,
.log .level.level-critical,
.log .level.level-fatal {
    background-color: #e03836;
}

.log .level.level-warning {
    background-color: #f9c019;
}

.log .level.level-information {
    background-color: #007acc;
}

.log .level.level-trace,
.log .level.level-debug {
    background-color: lightgray;
}

.log .log-properties {
    margin-top: 5px;
}

.log .log-properties .property {
    margin-left: 167px;
}

.log .log-properties .property .property-name {
    font-family: consolas, monaco, monospace;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #222;
    width: 200px;
    float: left;
    white-space: nowrap;
}

.log .log-properties .property .property-value {
    font-family: consolas, monaco, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #222;
    margin-left: 245px;
}

.log .exception {
    font-family: consolas, monaco, monospace;
    white-space: pre-wrap;
    overflow: auto;
    color: white;
    margin-top: 5px;
    padding: 2px;
    background-color: #bb312f;
    margin-left: 167px;
}