.side-bar .section {
    border-bottom: 1px solid #a8a8a8;
    padding-bottom: 10px;
    padding-top: 10px;
}

.side-bar .section .section-item {
    padding: 5px;
    padding-left: 10px;
    font-size: 13px;
    cursor: pointer;
}

.side-bar .section .section-item.selected {
    background-color: wheat;
}

.side-bar .section .section-header {
    font-weight: bold;
    font-size: 13.5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.side-bar .section .level-indicator {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-right: 5px;
    background-color: white;
}

.side-bar .section .level-indicator.level-error,
.side-bar .section .level-indicator.level-critical,
.side-bar .section .level-indicator.level-fatal {
    background-color: #e03836;
}

.side-bar .section .level-indicator.level-warning {
    background-color: #f9c019;
}

.side-bar .section .level-indicator.level-information {
    background-color: #007acc;
}

.side-bar .section .level-indicator.level-trace,
.side-bar .section .level-indicator.level-debug {
    background-color: lightgray;
}